@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('../fonts/Roboto.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('../fonts/Roboto.ttf') format('truetype');
    font-weight: 700;
}


@font-face {
    font-family: 'Roboto Black';
    src: local('Roboto Black'), url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'OpenSans';
    src: local('Open Sans'), url('../fonts/OpenSans.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Yellowtail';
    src: local('Yellowtail'), local('Yellowtail Regular'), url('../fonts/Yellowtail-Regular.ttf') format('truetype');
    font-weight: 400;
}
